* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #b3e5fc, #ffffff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Card */
.card {
    background: #ffffff;
    width: 320px;
    padding: 25px 20px;
    border-radius: 12px;
    text-align: center;
}

/* Logo */
.logo {
    margin-bottom: 15px;
}

.circle {
    width: 55px;
    height: 55px;
    background: #03a9f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    margin: 0 auto;
}

/* Inputs */
form input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 25px;
    border: 2px solid #81d4fa;
    font-size: 15px;
    outline: none;
}

/* Botão */
form button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border: none;
    border-radius: 25px;
    background: #03a9f4;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

form button:hover {
    background: #0288d1;
}

/* Texto inferior */
.login {
    margin-top: 10px;
    font-size: 12px;
    color: #01579b;
}

.login a {
    color: #0288d1;
    text-decoration: none;
    font-weight: bold;

}